@import 'https://fonts.googleapis.com/css?family=Rubik+One';

/*-----------------------------------------------
*   CSS reset
-----------------------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*-----------------------------------------------
*   Root div
-----------------------------------------------*/

#root {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*-----------------------------------------------
*   Header
-----------------------------------------------*/

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

header img {
    width: 250px;
}


/*-----------------------------------------------
*   Body Element
-----------------------------------------------*/

body {
    background-color: #E7E636;
}

/*-----------------------------------------------
*   Todos Table
-----------------------------------------------*/

.todoslist {
    background-color: #000000;
    color: #fff;
    width: 530px;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
    display:  flex;
    justify-content: flex-start;
    flex-direction: column;
    flex-wrap: wrap; 
    flex-grow: 1; 
}

.lis {
    display: flex;
    flex-wrap: wrap;
    font-family: 'Permanent Marker', cursive;
    font-size: 20px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 7px;
    padding: 5px;
    border-bottom: 2px dotted rgb(126, 126, 126);
    position: relative;
}

.fa-check-square-o {
    font-size: 22px;
    padding-right: 30px;
    padding-left: 10px;
    color: #e8e8e8;
    cursor: pointer;
    transition: color 0.17s ease-in;
    position: absolute;
    top: 2;
    right: 0;
    
}

.fa-check-square-o:hover {
    font-size: 22px;
    padding-right: 30px;
    padding-left: 10px;
    color: rgb(226, 237, 28);
}

.fa-minus-square-o {
    font-size: 23px;
    color: #e8e8e8;
    cursor: pointer;
    transition: color 0.17s ease-in;
    position: absolute;
    top: 2;
    right: 0;
}

.fa-minus-square-o:hover {
    color: rgb(255, 35, 68);
}

/*-----------------------------------------------
*   Add Todo
-----------------------------------------------*/

.addtodo {
    display:  flex;
    justify-content:  center;
    align-items:  center;
    flex-direction: column;
    flex-wrap: wrap;
}

.input {
    font-weight: 600;
    margin-top: 20px;
    width: 60%;
    padding: 10px;
    text-align: center;
    border: 2px solid rgb(58, 58, 58);
    color: #1d1d1d;
    font-family: 'Permanent Marker', cursive;
    font-size: 19px;
}

input::placeholder {
    color: rgb(206, 206, 206);
    text-align: center;
  }

  .fa-plus-circle {
    font-size: 60px;
    color: #101010;
    margin-top: 3px;
    display: inline-block;
    text-align: center;
    transition: color 0.2s;
}

.fa-plus-circle:hover {
    font-size: 60px;
    color: #925163;
    margin-top: 3px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}


/*-----------------------------------------------
*   Footer
-----------------------------------------------*/

footer {
		display: flex;
		flex-wrap: wrap;
    text-align: center;
		width: 100%;
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		padding-bottom: 20px;
		
}

footer p {
    font-size: 0.8em;
    padding: 4px;
}

span {
    background-color: black;
    color: white;
    padding: 1px;
}

.fa-cog {
    display: inline-block;
    margin-right: 4px;
    font-size: 14px;
}

